.post {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}

.post__date {
    font-weight: bold;
    font-size: 12px;
    color: grey;
    margin-bottom: 5px;
}

.post__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post__text {
    font-size: 14px;
    margin-bottom: 10px;
    font-style: italic;
    padding: 5px;
}

.post__read-more {
    display: block;
    width: 120px;
    height: 30px;
    border: none;
    background: red;
    color: #ffffff;
    font-size: 16px;
}

.post__read-more:hover {
    opacity: 0.7;
}